.nav {
    display: flex;
    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
    }

    &__link {
        background-color: var(--blue2);
        opacity: 0.3;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: auto 0;
        height: 100%;
        padding: 0 15px;
        &--current {
            background: transparent;
            opacity: 1;
        }
    }

    &__link-text {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 0.04rem;

        color: var(--white);
    }

    &__link-img {
        width: 20px;
        height: 20px;

        margin-bottom: 10px;
    }
}
