.popup {
    position: absolute;

    display: none;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.5);

    &__inner {
        background-color: var(--white);

        margin: auto;
        width: 100%;
        max-width: 500px;

        padding: 15px;
    }

    &--open {
        display: flex;
    }
}
