.timer {
    background: #ffffff;

    box-shadow: var(--timer-shadow);

    padding: 10px 40px;

    &__count {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 500;
        color: var(--black);
    }

    &__minutes {
    }

    &__seconds {
    }
}
