.game {
    margin-top: 20px;

    background: rgba(#000, 0.05);
    border-radius: 5px;

    padding: 28px 36px 100px 36px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__timer {
    }

    &__inner {
        margin-top: 25px;
        padding: 15px;

        display: grid;
        row-gap: 10px;
        column-gap: 15px;

        &--easy {
            grid-template-columns: repeat(4, 180px);
            grid-template-rows: repeat(4, 180px);
        }
        &--normal {
            grid-template-columns: repeat(6, 150px);
            grid-template-rows: repeat(6, 150px);
        }
        &--insane {
            grid-template-columns: repeat(8, 110px);
            grid-template-rows: repeat(8, 110px);
        }
        &--god {
            grid-template-columns: repeat(10, 85px);
            grid-template-rows: repeat(6, 85px);
        }
    }
}
