.register-user {
    &__title {
        font-weight: 500;
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.015rem;
        color: var(--black);
    }

    &__paragraph {
        margin-top: 10px;

        font-weight: 400;
        font-size: 1.4rem;
        max-width: 300px;
    }

    &__form {
        margin-top: 10px;
    }
}
