.user-shore {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__avatar-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        overflow: hidden;

        background-color: gray;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        margin-left: 20px;
    }

    &__name {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 500;
    }

    &__mail {
        font-size: 1.3rem;
        line-height: 1.5rem;
        font-weight: 400;
    }

    &__data {
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 400;
    }

    &__count {
        font-weight: 500;
        color: var(--blue);
    }
}
